{% extends 'rest_framework/base.html' %}

{% block content %}

<div class="container">
    <ul class="">
        <li><a href="/ui/">Scan another NFe</a></li>
    </ul>
<div>

<div class="container">
    <div class="alert alert-{% if uncategorized_products_quantity == 0 %}success{% else %}warning{% endif %}">
        <a href="{% url 'uncategorized-products' %}">
            There are {{ uncategorized_products_quantity }} products without category
        </a>
    </div>
<div>

{% if queryset %}

<div class="page-header">
    <h1>NFe {{ queryset.id|safe }}</h1>
</div>

<div>
    <h3><strong>Path:</strong> <a href="{% url 'nfe-list' %}{{queryset.id}}">{% url 'nfe-list' %}{{queryset.id}}</a></h3>
    <div style="border:2px solid black;>{{ queryset.raw_html|safe }}<div>
</div>

{% else %}
<div>
    <div class="alert alert-warning">
        No Nfe
    </div>
<div>
{% endif %}

{% endblock content %}
